body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url('../../Picture/sky.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Tahoma;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading{
  margin-bottom: 20px;
  text-align: center;
}
.form-signin,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input{
  border-radius: 20px;
  margin: 10px 0px;
  border: 2px solid #999;
}
.form-signin input[type=text]:focus,
.form-signin input[type=password]:focus{
  border: 2px solid #000;
  opacity: 0.9;
}

.form-signin input[type=text]{
  background-color: white;
  background-image: url('../../Picture/username2.png');
  background-size: 30px 30px;
  background-position: 8px 7px; 
  background-repeat: no-repeat;
  padding-left: 40px;
  opacity: 0.7;
}
.form-signin input[type=password]{
  background-color: white;
  background-image: url('../../Picture/password.png');
  background-size: 30px 30px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding-left: 40px;
  opacity: 0.7;
}
a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-shadow: 1px 1px #000;
}
a:hover{
  text-decoration: none;
  color: #77d5e6;
}
.picture{
  position: relative;
  left:-10%;
  margin: auto;
  background-repeat: no-repeat;
}