body {
    background-image: url('../../Picture/sky.jpg');
    font-family: Tahoma;
    margin:0;
}
.information{
    margin: 100px 20px;
    padding: 30px;
    color: white;
    background-color: rgba(102, 102, 102, 0.5);
    text-align: center;
    border-radius: 20px;
  }