body {
    background-image: url('../../Picture/sky.jpg');
    font-family: Tahoma;
    margin:0;
}
  .information{
    margin: 20px;
    color: white;
    background-color: rgba(102, 102, 102, 0.5);
    text-align: center;
    border-radius: 20px;
  }
  #text-left{
    text-align: left;
  }
  #text-right{
    text-align: right;
  }
  #text-inline{
    display: inline;
  }
  .top_name{
    color: white;
    margin: 30px 0px;
  }
  .text-space{
    padding: 10px 0px;
    color: white;
  }
  input["type:number"]{
    width:100%; margin-bottom:10px; border-radius:5px;
  }